*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/vendor
/data
/.settings
/.buildpath
/.project
/application/models/Proxies/*.php
/nbproject/
/application/tests/build/
/application/tests/_ci_phpunit_test/tmp/
/application/tests/_ci_phpunit_test/replacing/
/application/tests/_ci_phpunit_test/patcher/debug.log
/application/models/Proxies/
/.phpintel
/application/libraries/codeigniter-doctrine/
/application/db.sqlite
/composer.log